body {
    background-color: black;
}

.main_page {
    background-color: #F2F3F4;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

.menu {
    background-color: #E2E3E2;
    width: 20%;
    height: 80%;
    position: absolute;
}

.menu_paths {
    position: absolute;
    display: grid;
    gap: 30%;
    width: 100%;
    left: 30%;
    top: 20%;
}

.menu_path {
    color: white;
    text-decoration: none;
}

.menu_path:hover {
    text-decoration: underline;
    underline-color: blue;
}

.daily_momentum_square {
    background-color: #E2E3E2;
    width: 45%;
    height: 32%;
    position: absolute;
    left: 25%;
    top: 10%;
}

.daily_momentum_square_context {
    position: absolute;
    display: grid;
    gap: 10%;
    left: 5%;
    top: 5%;
}

.daily_momentum_title {
    color: #3c8256;
    font-size: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 20%;
    font-family: sans-serif;
}

.amount_of_completed_tasks {
    color: #59bf8f;
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    top: 35%;
    left: 5%;
}

.momentum_description {
    color: #3c8256;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
}

.view_insights_button  {
    background-color: #59bf8f;
    position: absolute;
    left: 5%;
    top: 85%;
}