.main_page {
    background-color: #F2F3F4;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

.top_bar {
    background-color: #4863A0;
    width: 100%;
    height: 5%;
    position: absolute;
}

.main_page_title {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    position: absolute;
    top: -65%;
    left: 1%;
}

.streak_bar {
    background-color: white;
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 5%;
}

.streak_title {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 1%;
    top: -15%;
}

.streak_text_row {
    position: absolute;
    display: flex;
    gap: 5%;
    width: 100%;
    left: 1%;
    top: 60%;
}

.total_habits_text {
    position: absolute;
    top: -90%;
    left: 40%;
}

.week_days_bar {
    background-color: #F5F5F5;
    border: 1px solid #DDD6E1;
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 15%;
}

.week_days_letters {
    font-size: 25px;
    font-family: sans-serif;
    position: absolute;
    display: flex;
    gap: 25%;
    top: 15%;
    left: 30%;
}

.tasks {
    border: 1px solid #DDD6E1;
    background-color: #F5F5F5;
    width: 100%;
    height: 45%;
    position: absolute;
    top: 25%;
}

.task1 {
    border: 1px solid #DDD6E1;
    background-color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 5%;
    top: 5%;
}

.task2 {
    border: 1px solid #DDD6E1;
    background-color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 55%;
    top: 5%;
}

.task3 {
    border: 1px solid #DDD6E1;
    background-color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 5%;
    top: 55%;
}
.task4 {
    border: 1px solid #DDD6E1;
    background-color: white;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 55%;
    top: 55%;
}

.tasks_title {
    font-family: sans-serif;
    position: absolute;
    left: 10%;
    top: 10%;
}