body {
    background-color: black;
}

.main_page {
    background-color: #F2F3F4;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

.pages_title {
    color: #59bf8f;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 5%;
}

.pages_second_title {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    left: 7%;
    top: 7%;
}

.menu {
    background-color: #E2E3E2;
    width: 20%;
    height: 80%;
    position: absolute;
}

.menu_paths {
    position: absolute;
    display: grid;
    gap: 30%;
    width: 100%;
    left: 30%;
    top: 20%;
}

.menu_path {
    color: #3c8256;
    text-decoration: none;
}

.menu_path:hover {
    color: #59bf8f;
}

.daily_momentum_square {
    border: 1px solid #E2E3E2;
    border-radius: 20px;
    background-color: #E2E3E2;
    width: 45%;
    height: 32%;
    position: absolute;
    left: 25%;
    top: 10%;
}

.daily_momentum_square_context {
    position: absolute;
    display: grid;
    gap: 10%;
    left: 5%;
    top: 5%;
}

.daily_momentum_title {
    color: #3c8256;
    font-size: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 20%;
    font-family: sans-serif;
}

.amount_of_completed_tasks {
    color: #59bf8f;
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    top: 35%;
    left: 5%;
}

.momentum_description {
    color: #3c8256;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
}

.view_insights_button {
    border: 1px solid #59BF8F;
    border-radius: 20px;
    color: #3c8256;
    background-color: #59BF8F;
    position: absolute;
    left: 5%;
    top: 85%;
}

.streak_box {
    border: 1px solid #E2E3E2;
    border-radius: 20px;
    background-color: #A7BED3;
    position: absolute;
    width: 20%;
    height: 32%;
    left: 75%;
    top: 10%;
}

.streak_title {
    color: #3c8256;
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
}

.streak_description {
    color: #3c8256;
    font-size: 10px;
    font-family: sans-serif;
    position: absolute;
    top: 40%;
    left: 10%;
}

.tasks {
    background-color: #F2F3F4;
    position: absolute;

    width: 70%;
    height: 40%;
    left: 25%;
    top: 50%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: #5ABF8A #E4E5E6;

    padding: 10px;
    box-sizing: border-box
}

.tasks::-webkit-scrollbar {
    width: 8px;
}

.tasks::-webkit-scrollbar-track {
    background: #E4E5E6;
    border-radius: 10px;
}

.tasks::-webkit-scrollbar-thumb {
    background: #5ABF8A
    border-radius: 10px;
    border: 2px solid #E4E5E6
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: #3F9369
}

.task {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 15px 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.task_title {
    margin: 0;
}

.create_task_pag_description {
    color: #3C8256;
    font-size: 40px;
    font-family: sans-serif;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 5%;
}

.create_task_page_deep_description {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 18%;
}

.creating_habit_field {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    width: 50%;
    height: 13%;
    position: absolute;
    left: 25%;
    top: 30%;
}


.creating_habit_field_title {
    font-size: 70%;
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 10%;
}

.frequency_switch_field {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 25%;
    position: absolute;
    left: 25%;
    top: 45%;
}

.frequency_switch_title {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    left: 10%;
    top: 10%;
}

.task_notes_field {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 73%;
    width: 50%;
    height: 20%;
}

.task_notes_title {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.confirmation_habit_button {
    border: 1px solid #59BF8F;
    border-radius: 20px;
    color: #3c8256;
    background-color: #59BF8F;
    position: absolute;
    left: 60%;
    top: 94%;
    width: 12%;
    height: 5%;
}

.create_task_page_focus_field {
    border: 1px solid #59bf8f;
    border-radius: 10px;
    background-color: #59bf8f;
    position: absolute;
    left: 80%;
    top: 20%;
    width: 18%;
    height: 8%;
}

.focus_title {
    color: #3c8256;
    font-family: sans-serif;
    position: absolute;
    left: 30%;
    top: -5%;
}

.focus_description {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 30%;
    top: 30%;
    width: 100%:
}

.create_task_page_ritual_builder_field {
    border: 1px solid #59bf8f;
    border-radius: 20px;
    background-color: #3c8256;
    position: absolute;
    left: 77%;
    top: 30%;
    width: 22%;
    height: 30%;
}

.ritual_builder_title {
    color: #59bf8f;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 5%;
}

.ritual_builder_description {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    left: 5%;
    top: 10%;
    width: 95%;
}

.ritual_builder_recommendations {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    left: 15%;
    top: 48%;
}

.create_task_page_user_suggesting_field {
    border: 1px solid ##BCA0DC;
    border-radius: 10px;
    background-color: #BCA0DC;
    position: absolute;
    left: 77%;
    top: 62%;
    width: 22%;
    height: 20%;
}

.user_suggesting_title {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 5%;
    left: 12%;
}

.user_suggesting1_title {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 25%;
    left: 10%;
}

.user_suggesting1_description {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 10%;
}

.user_suggesting2_title {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 65%;
    left: 10%;
}

.user_suggesting2_description {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    top: 70%;
    left: 10%;
}

.create_task_page_photo_insertion {
    border: 1px dashed #A7BED3;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 77%;
    top: 84%;
    width: 22%;
    height: 15%;
}

.photo_insertion_title {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 25%;
    top: 50%;
}

.photo_insertion_description {
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    top: 55%;
    left: 5%;
    width: 95%;
}



.weekly_completion_field {
    border: 1px solid #C6DBEF;
    border-radius: 10px;
    background-color: #C6DBEF;
    width: 25%;
    height: 15%;
    position: absolute;
    left: 73%;
    top: 5%;
}

.weekly_completion_title {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    left: 20%;
    top: 10%;
}

.analytics_page_procent_of_completed_tasks {
    color: #3c8256;
    font-size: 50px;
    position: absolute;
    left: 34%;
    top: 25%;
}

.daily_progress_trend {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 52%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 30%;
}

.daily_progress_trend_title {
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.daily_progress_trend_description {
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    left: 5%;
    top: 10%;
}

.streak_growth_field {
    border: 1px solid #BCA0DC;
    border-radius: 10px;
    background-color: #EDE7F6;
    width: 20%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 65%;
}

.streak_growth_title {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    left: 10%;
    top: 10%;
}

.streak_growth_description {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 14px;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 15%;
}

.amount_of_streak_days {
    color: #BCA0DC;
    font-family: sans-serif;
    font-size: 25px;
    position: absolute;
    left: 10%;
    top: 75%;
}

.amount_of_streak_days_word {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    left: 20%;
    top: 80%;
}

.consistency_field {
    border: 1px solid #E2E3E2;
    border-radius: 10px;
    background-color: #E2E3E2;
    width: 20%;
    height: 30%;
    position: absolute;
    left: 79%;
    top: 30%;
}

.consistency_field_title {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    left: 20%;
    top: 50%;
}

.consistency_field_description {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    left: 15%;
    top: 55%;
}

.view_details_button {
    color: #3c8256;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    left: 23%;
    top: 83%;
}

.activity_breakdown_field {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    width: 52%;
    height: 30%;
    left: 47%;
    top: 65%;
}

.activity_breakdown_field_title {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    left: 5%;
    top: 10%;
}

.activity_breakdown_field_items {
    color: #3c8256;
    font-family: sans-serif;
    font-size: 13px;
    display: grid;
    gap: 30px;
    position: absolute;
    left: 15%;
    top: 30%;
}

.current_streak_field {
    border: 1px solid #E2E3E2;
    border-radius: 15px;
    background-color: #E2E3E2;
    width: 50%;
    height: 25%;
    position: absolute;
    left: 25%;
    top: 10%;
}

.current_streak_fields_title {
    color: #3c8256;
    font-family: sans-serif;
    position: absolute;
    left: 7%;
    top: 5%;
}

.current_streak_fields_description {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 7%;
    top: 35%;
}

.best_streak_field {
    border: 1px solid #3c8256;
    border-radius: 15px;
    background-color: #3c8256;
    width: 23%;
    height: 25%;
    position: absolute;
    left: 76%;
    top: 10%;
}

.best_streak_fields_title {
    font-family: sans-serif;
    color: white;
    width: 100%;
    font-size: 20px;
    position: absolute;
    left: 15%;
    top: 25%;
}

.num_of_total_rituals_kept {
    color: lightgreen;
    font-size: 30px;
    position: absolute;
    left: 45%;
    top: 35%;
}

.text_of_total_rituals_kept {
    font-family: sans-serif;
    font-size: 10px;
    width: 100%;
    color: lightgreen;
    position: absolute;
    left: 20%;
    top: 70%;
}


.create_task_input {
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    width: 45%;
    height: 7%;
    position: absolute;
    left: 27%;
    top: 34%;
}

.create_notes_input {
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    width: 45%;
    height: 12%;
    left: 27%;
    top: 78%;
}

.daily_or_weekly_task_switcher {
    position: absolute;
    left: 30%;
    right: 30%;
    width: 20%;
    height: 20%;
}

.active_streaks_box {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    background-color: white;
    width: 73%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 40%;
}

.active_streaks_title {
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 25%;
    top: 34%;
}

.activate_streak1 {
    position: absolute;
    left: 20%;
}

.activate_streak2 {
    position: absolute;
    left: 30%;
}

.activate_streak1 {
    position: absolute;
    left: 75%;
}


.confirm_prof_changes {
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    width: 30%;
    top: 7%;
    left: 66%;
}

.profile_settings_field {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    width: 40%;
    height: 30%;
    position: absolute;
    left: 25%;
}

.profile_settings_title {
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 7%;
    top: 5%;
}

.name_input {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 30%;
    top: 20%;
    left: 20%;
}

.email_input {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 30%;
    top: 20%;
    left: 60%;
}

.birth_date_input {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 70%;
    height: 7%;
    top: 32%;
    left: 20%;
}

.phone_num_input {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 70%;
    height: 7%;
    top: 43%;
    left: 20%;
}

.bio_input {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 70%;
    height: 30%;
    top: 55%;
    left: 20%;
}

name_label {
    color: red;
    position: absolute;
    top: 15%;
    left: 40%;
}

.task_details {
    position: absolute;
    left: 40%;
    border: 1px solid lightgreen;
    border-radius: 10px;
    color: green;
    background: lightgreen;
    transition-duration: 0.6s;
}

.task_details:hover {
    background: white;
}

.about_task {
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    left: 25%;
    background: white;
    width: 70%;
    height: 40%;
}

.task_completion {
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    left: 25%;
    background: white;
    width: 70%;
    height: 20%;
    top: 45%;
}

.task_task_definition {
    font-family: sans-serif;
    color: green;
    position: absolute;
    left: 5%;
}

.task_detail_title {
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 10%;
}

.task_description_definition {
    color: green;
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 35%;
}

.task_detail_description {
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 50%;
}


.task_completion_definition {
    color: green;
    font-family: sans-serif;
    position: absolute;
    left: 5%;
}

.task_completion_description {
    font-family: sans-serif;
    position: absolute;
    left: 5%;
    top: 25%;
}

.task_completion_button {
    font-family: sans-serif;
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 20px;
    width: 25%;
    height: 20%;
    position: absolute;
    left: 5%;
    top: 70%;
}

hr {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 90%;
}

.task_delete {
    display: grid;
    position: absolute;
    left: 70%;
    background: green;
    color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.task_delete:hover {
    background: white;
}