{% extends 'base.html' %}

{% block title %}
    Stats
{% endblock %}

{% block page_title %}
    Stats
{% endblock %}

{% block page_description %}
    <b class="create_task_pag_description">Your ritual consistency.</b>
{% endblock %}

{% block page_deep_description %}
    <p class="create_task_page_deep_description">The beauty of growth lies in the rhythm of small actions. Here is how
    you sanctuary has evolved this week.
    </p>
{% endblock %}


{% block daily_progress_trend %}
    <div class="daily_progress_trend">
        <b class="daily_progress_trend_title">Daily Progress Trend</b>
        <p class="daily_progress_trend_description">Minutes of mindful activity</p>
    </div>
{% endblock %}

{% block analytics_page_streak_growth %}
    <div class="streak_growth_field">
        <b class="streak_growth_title">Steady Growth</b>
        <p class="streak_growth_description">Your "Morning Meditation" has a 0-days streak. The sanctuary feels more vibrant.</p>
        <b class="amount_of_streak_days">0</b>
        <b class="amount_of_streak_days_word">Days</b>
    </div>
{% endblock %}

{% block analytics_page_activity_breakdown %}
    <div class="activity_breakdown_field">
        <b class="activity_breakdown_field_title">Activity Breakdown</b>
        <li class="activity_breakdown_field_items">
            <b>Meditation</b>
            <b>Physical Health</b>
            <b>Deep Work</b>
        </li>
    </div>
{% endblock %}

{% block analytics_page_weekly_completion_field %}
    <div class="weekly_completion_field">
        <b class="weekly_completion_title">Weekly Completion</b>
        <b class="analytics_page_procent_of_completed_tasks">0%</b>
    </div>
{% endblock %}

{% block analytics_page_consistency_field %}
    <div class="consistency_field">
        <b class="consistency_field_title">Consistency</b>
        <p class="consistency_field_description">You've hit 0 out of 4 rituals this week</p>
        <button class="view_details_button">View Details</button>
    </div>
{% endblock %}