{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main_page">
        <div class="menu">
            <p class="pages_title">The Sanctuary</p>
            <p class="pages_second_title">DAILY RITUAL</p>
            <div class="menu_paths">
                {% for path in paths %}
                    <a class="menu_path" href="{% url path %}">{{ path }}</a>
                {% endfor %}
            </div>
        </div>

        {% block daily_momentum %}
        {% endblock %}

        {% block streak_box %}
        {% endblock %}

        {% block tasks %}
        {% endblock %}

        {% block page_description %}
        {% endblock %}

        {% block page_deep_description %}
        {% endblock %}

        {% block creating_habit_field %}
        {% endblock %}

        {% block creating_task_frequency_option %}
        {% endblock %}

        {% block creating_task_notes %}
        {% endblock %}

        {% block confirmation_habit_button %}
        {% endblock %}

        {% block create_task_page_focus_field %}
        {% endblock %}

        {% block create_task_page_ritual_builder_field %}
        {% endblock %}

        {% block create_task_page_user_suggesting_field %}
        {% endblock %}

        {% block create_task_page_photo_insertion %}
        {% endblock %}
    </div>
</body>
</html>