{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main_page">
        <div class="menu">
            <p class="pages_title">The Sanctuary</p>
            <p class="pages_second_title">DAILY RITUAL</p>
            <div class="menu_paths">
                {% for path in paths %}
                    <a class="menu_path" href="{% url path %}">{{ path }}</a>
                {% endfor %}
            </div>
        </div>

        {% block daily_momentum %}
        {% endblock %}

        {% block streak_box %}
        {% endblock %}

        {% block tasks %}
        {% endblock %}

        {% block all_habits %}
        {% endblock %}
    </div>
</body>
</html>