{% load static %}
<!doctype html>
<html>
<head>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main_page">
        <div class="menu">
            <p class="pages_title">The Sanctuary</p>
            <p class="pages_second_title">DAILY RITUAL</p>
            <div class="menu_paths">
                <a class="menu_path" href="{% url 'Dashboard'%}">Dashboard</a>
                <a class="menu_path" href="{% url 'Create Task'%}">Create Task</a>
                <a class="menu_path" href="{% url 'Analytics'%}">Analytics</a>
                <a class="menu_path" href="{% url 'Streaks'%}">Streaks</a>
                <a class="menu_path" href="{% url 'Settings'%}">Settings</a>


            </div>
        </div>

        {% block daily_or_weekly_habit_switcher %}
        {% endblock %}

        {% block daily_momentum %}
        {% endblock %}

        {% block streak_box %}
        {% endblock %}

        {% block tasks %}
        {% endblock %}

        {% block page_description %}
        {% endblock %}

        {% block page_deep_description %}
        {% endblock %}

        {% block creating_habit_field %}
        {% endblock %}

        {% block creating_task_frequency_option %}
        {% endblock %}

        {% block creating_task_notes %}
        {% endblock %}

        {% block confirmation_habit_button %}
        {% endblock %}

        {% block create_task_page_focus_field %}
        {% endblock %}

        {% block create_task_page_ritual_builder_field %}
        {% endblock %}

        {% block create_task_page_user_suggesting_field %}
        {% endblock %}

        {% block create_task_page_photo_insertion %}
        {% endblock %}


        {% block daily_progress_trend %}
        {% endblock %}

        {% block analytics_page_streak_growth %}
        {% endblock %}

        {% block analytics_page_activity_breakdown %}
        {% endblock %}

        {% block analytics_page_weekly_completion_field %}
        {% endblock %}

        {% block analytics_page_consistency_field %}
        {% endblock %}


        {% block streak_page_current_streak_field %}
        {% endblock %}

        {% block best_streak_field %}
        {% endblock %}

        {% block activate_streaks_title %}
        {% endblock %}

        {% block activate_streaks %}
        {% endblock %}

        {% block settings_page %}
        {% endblock %}


    </div>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>-->
</body>
</html>