{% extends 'base.html' %}

{% block title %}
    My Habits
{% endblock %}

{% block page_title %}
    My Habits
{% endblock %}

{% block page_description %}
    <b class="create_task_pag_description"> Here you can create your own habits.</b>
{% endblock %}

{% block page_deep_description %}
    <p class="create_task_page_deep_description">Consistency is the bridge between goals and accomplishment. Define your new habit with clarity and focus.</p>
{% endblock %}

{% block creating_habit_field %}
    <div class="creating_habit_field">
        <b class="creating_habit_field_title">WHAT WILL YOU PRACTICE?</b>
        <input type="text" class="creating_habit_input">
    </div>
{% endblock %}

{% block creating_task_frequency_option %}
    <div class="frequency_switch_field">
        <b class="frequency_switch_title">FREQUENCY</b>
    </div>
{% endblock %}