{% extends 'base.html' %}

{% block daily_momentum %}
    <div class="daily_momentum_square">
        <b class="daily_momentum_title">Tasks Completed:</b>
        <b class="amount_of_completed_tasks">0 of 4</b>
        <b class="momentum_description">You're making incredible progress today.</b>
        <button class="view_insights_button">View Insights</button>
    </div>
{% endblock %}

{% block streak_box %}
    <div class="streak_box">
        <b class="streak_title">12 Day Streak</b>
        <b class="streak_description">Consistency is the bridge between goals and accomplishment.</b>
    </div>
{% endblock %}

{% block tasks %}
    <div class="tasks">
        <div class="task1">
            <p class="task1_title">20-Minute WorkOut</p>
        </div>
        <div class="task2">
            <p class="task2_title">Drink 2 litres of water </p>
        </div>
        <div class="task3">
            <p class="task3_title">Read a Book for 20-minutes</p>
        </div>
        <div class="task4">
            <p class="task4_title">No Sugar</p>
        </div>
    </div>
{% endblock %}