{% extends 'base.html' %}

{% block daily_or_weekly_habit_switcher %}
    <div class="daily_or_weekly_task_switcher">
        <a class="daily_or_weekly_switch" href="{% url 'Dashboard' %}">
            Daily Tasks
        </a>
        <a class="daily_or_weekly_switch" href="{% url 'Weekly Tasks' %}">
            Weekly Tasks
        </a>
    </div>
{% endblock %}

{% block daily_momentum %}
    <div class="daily_momentum_square">
        <b class="daily_momentum_title">Tasks Completed:</b>
        <b class="amount_of_completed_tasks">0 of 4</b>
        <b class="momentum_description">You're making incredible progress today.</b>
        <button class="view_insights_button">View Insights</button>
    </div>
{% endblock %}

{% block streak_box %}
    <div class="streak_box">
        <b class="streak_title">12 Day Streak</b>
        <b class="streak_description">Consistency is the bridge between goals and accomplishment.</b>
    </div>
{% endblock %}

{% block tasks %}
    <div class="tasks">
        {% for task in all_tasks %}
        <div class="task">
            <p class="task_title">{{task.task}}</p>
            <form method="GET" action="{% url 'View Task Details' task.id %}">
                {% csrf_token %}
                <button type="submit" class="task_details">View Details</button>
            </form>
            <form method="POST" action="{% url 'Delete Task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="task_delete">Delete Task</button>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}



