{% extends 'base.html' %}

{% block title %}
    My Habits
{% endblock %}

{% block page_title %}
    My Habits
{% endblock %}

{% block all_habits %}
    <div class="all_habits_menu">
        <div class="habits_title_menu">
            <p class="all_habits_menu_title">Habit</p>
        </div>
        <div class="all_habits">
          <p class="my_habits_page_habits">Drink Water</p>
          <p class="my_habits_page_habits">Workout</p>
          <p class="my_habits_page_habits">Read 20 Minutes</p>
          <p class="my_habits_page_habits">No Sugar</p>
        </div>
    </div>
{% endblock %}