{% extends 'base.html' %}

{% block title %}
    Task Details
{% endblock %}

{% block page_title %}
    Task Details
{% endblock %}

{% block task_details_page %}
    <div class="task_details_page">
        <div class="about_task">
            <h3 class="task_task_definition">Task</h3>
            <h1 class="task_detail_title">{{task.task}}</h1>
            <h3 class="task_description_definition">Description</h3>
            <p class="task_detail_description">{{task.note}}</p>
            <hr>
        </div>
        <div class="task_completion">
            <h3 class="task_completion_definition">Mark As Completed</h3>
            <p class="task_completion_description">completing this task helps you maintain your streak and build consistency.</p>
            <button class="task_completion_button">✔️Task Completed</button>
        </div>
    </div>
{% endblock %}